{% include 'main/partials/head.html' %}
{% load static %}

<body class="body-moradia" id="body-moradia-trocar">
    <div class="form-group-01" id="valor">
        <div class="info">
            <h2>Meu gasto mensal com:</h2>
            <label>
                Moradia
            </label>
            <br>
            <span>
                Exemplo: Aluguel, Condomínio, IPTU e outros
            </span>
            <div class="valor">
                {% comment %} <form action="" method="post" class="form">
                    {% csrf_token %}
                    {{ finance.moradia }}
                </form> {% endcomment %}
            </div>
            
        </div>
    </div>
</body>
</html>